<!DOCTYPE html>
<html lang="en">
<head>
	<title>API</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span3">
        <div class="sidebar-nav">

          <a href="/twitter/"><img src="https://findings.com/assets/images/owl_square.jpg" /></a>
          <h1>labs.</h1>

          <ul class="nav nav-list">
            <li><a href="/twitter/">tweets</a></li>
            <li><a href="/twitter/sources/">sources</a></li>
          </ul>

        </div>
      </div>

      <div class="span9">
        <div class="items">
          {% block content %}
          <h1>tweets</h1>
          <h3>total tweets: {{ tweets }}</h3>
          <h3>total sources: {{ sources }}</h3>
          <h3>total possible quotes: {{ quotes }}</h3>
          <h3>percent: {{ percent }}%</h3>
          <ul>
            {% for item in items %}
            <li style="border-bottom: 1px dotted #ccc; margin-bottom: 10px; padding-bottom: 10px;">
              <p class="muted date">{{ item.created|date:"Y-m-d H:i" }}</p>
              <p><a href="{{ item.source.findings_url }}" target="_blank">
                  {{ item.source.findings_url }}</a></p>
              <p><em><a href="{{ item.social_user.url }}" target="_blank">
                  {{ item.social_user }}</a></em>: {{ item.content }}</p>
              <p><b>{{ item.quote.content }}</b></p>
            </li>
            {% endfor %}
          </ul>
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
</body>
</html>
